@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* button */
.btnForWhiteBg {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  background: #EF233C;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: inset 0 0 0 50px #EF233C;
  transition: ease-in 0.3s;
}

.btnForWhiteBg:hover {
  color: #EF233C;
  background: transparent;
  box-shadow: inset 0 0 0 0 #EF233C;
  border-color: #EF233C;
}

.btnForRedBg {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #EF233C;
  background: #ffffff ;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: inset 0 0 0 50px #ffffff;
  transition: ease-in 0.3s;
}

.btnForRedBg:hover {
  color: #ffffff;
  background: transparent;
  box-shadow: inset 0 0 0 0 #ffffff;
  border-color: #ffffff;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: .5;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in .7s ease-in;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoom-in {
  animation: zoom-in .7s ease-in;
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1.5s ease-in;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  50% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 1.5s ease-in;
}

@keyframes progressBarFill95 {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

@keyframes progressBarFill85 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

@keyframes progressBarFill80 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes progressBarFill75 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

.animate-progress-95 {
  animation: progressBarFill95 2s forwards;
}

.animate-progress-85 {
  animation: progressBarFill85 2s forwards;
}

.animate-progress-80 {
  animation: progressBarFill80 2s forwards;
}

.animate-progress-75 {
  animation: progressBarFill75 2s forwards;
}

.rocket {
  display: inline-block;
}

.animateRocket {
  animation-duration: 5s;
  animation-name: animate-rocket;
}

@keyframes animate-rocket {
  0% {
    transform: translateX(-500px) scale(0.5) rotate(10deg);
  }
  1% {
    transform: translateX(-495px) scale(0.55) rotate(9.5deg);
  }
  2% {
    transform: translateX(-490px) scale(0.6) rotate(9deg);
  }
  3% {
    transform: translateX(-485px) scale(0.65) rotate(8.5deg);
  }
  4% {
    transform: translateX(-480px) scale(0.7) rotate(8deg);
  }
  5% {
    transform: translateX(-475px) scale(0.75) rotate(7.5deg);
  }
  6% {
    transform: translateX(-470px) scale(0.8) rotate(7deg);
  }
  7% {
    transform: translateX(-465px) scale(0.85) rotate(6.5deg);
  }
  8% {
    transform: translateX(-460px) scale(0.9) rotate(6deg);
  }
  9% {
    transform: translateX(-455px) scale(0.95) rotate(5.5deg);
  }
  10% {
    transform: translateX(-450px) scale(1) rotate(5deg);
  }
  11% {
    transform: translateX(-445px) scale(1.05) rotate(4.5deg);
  }
  12% {
    transform: translateX(-440px) scale(1.1) rotate(4deg);
  }
  13% {
    transform: translateX(-435px) scale(1.15) rotate(3.5deg);
  }
  14% {
    transform: translateX(-430px) scale(1.2) rotate(3deg);
  }
  18% {
    transform: translateX(-410px) scale(1.4) rotate(1deg);
  }
  19% {
    transform: translateX(-405px) scale(1.45) rotate(0.5deg);
  }
  20% {
    transform: translateX(-400px) scale(1.5) rotate(0deg);
  }
  21% {
    transform: translateX(-395px) scale(1.55) rotate(-0.5deg);
  }
  25% {
    transform: translateX(-375px) scale(1.75) rotate(-2.5deg);
  }
  26% {
    transform: translateX(-370px) scale(1.8) rotate(-3deg);
  }
  27% {
    transform: translateX(-365px) scale(1.85) rotate(-3.5deg);
  }
  28% {
    transform: translateX(-360px) scale(1.9) rotate(-4deg);
  }

  33% {
    transform: translateX(-335px) scale(2.3) rotate(-6.5deg);
  }
  34% {
    transform: translateX(-330px) scale(2.4) rotate(-7deg);
  }
  35% {
    transform: translateX(-325px) scale(2.5) rotate(-7.5deg);
  }
  36% {
    transform: translateX(-320px) scale(2.6) rotate(-8deg);
  }
  37% {
    transform: translateX(-315px) scale(2.7) rotate(-8.5deg);
  }
  38% {
    transform: translateX(-310px) scale(2.8) rotate(-9deg);
  }
  
  42% {
    transform: translateX(-290px) scale(3) rotate(-9deg);
  }
  43% {
    transform: translateX(-285px) scale(3) rotate(-8.5deg);
  }
  44% {
    transform: translateX(-280px) scale(3) rotate(-8deg);
  }
  
  47% {
    transform: translateX(-265px) scale(3.5) rotate(-6.5deg);
  }
  48% {
    transform: translateX(-260px) scale(3.5) rotate(5deg);
  }
  100% {
    transform: translateX(300px) scale(3.5) translate3D(100vw, -100vh, 0) rotate(5deg);
  }
}

@keyframes bgChange {
  from {
    background-color: transparent;
  }
  to {
    background-color: #dc2626; 
  }
}

.animate-bg-change {
  animation: bgChange 1s forwards;
}