@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

@keyframes shake-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(40px);
  }
}

.animate-shake-in {
  animation: shake-in 2s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoom-in {
  animation: zoom-in 1.5s ease-out;
}


@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 1s ease-out;
}

@keyframes progressBarFill95 {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

@keyframes progressBarFill85 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

@keyframes progressBarFill80 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes progressBarFill75 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

.animate-progress-95 {
  animation: progressBarFill95 2s forwards;
}

.animate-progress-85 {
  animation: progressBarFill85 2s forwards;
}

.animate-progress-80 {
  animation: progressBarFill80 2s forwards;
}

.animate-progress-75 {
  animation: progressBarFill75 2s forwards;
}

.rocket {
  display: inline-block;
}

.animateRocket {
  animation-duration: 4s;
  animation-name: animate-rocket;
}

@keyframes animate-rocket {
  0% {
    transform: scale(1) rotate(10deg);
  }
  5% {
    transform: scale(1.25) rotate(-15deg);
  }
  10% {
    transform: scale(1.35) rotate(5deg);
  }
  20% {
    transform: scale(1.6) rotate(-10deg);
  }
  50% {
    transform: scale(2) rotate(0deg);
  }
  100% {
    transform: scale(20) translate3D(100vw, -100vh, 0) rotate(0deg);
  }
}

@keyframes bgChange {
  from {
    background-color: transparent; 
  }
  to {
    background-color: #dc2626; 
  }
}

.animate-bg-change {
  animation: bgChange 2s forwards;
}
